<h2><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h2>
<%= @game.player_1.name %>: <%= @game.player_1.hp %> HP
<%= @game.player_2.name %>: <%= @game.player_2.hp %> HP

<br>
<br>

<% if !@game.finished? %>
<form action=/attack method="get">
  <input type="submit" value="ATTACK!">
</form>
<% elsif @game.finished? %>
<%= @game.current_player.name %>: You Lose
<br>
<form action=/ method="get">
  <input type="submit" value="Play again">
</form>
<% end %>
